@font-face {
    font-family: 'Jumper PERSONAL USE ONLY Ex-Bd';
    src: url('JumperPERSONALUSEONLY-Extra-Bold.woff2') format('woff2'),
        url('JumperPERSONALUSEONLY-Extra-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zignature';
    src: url('Zignature.woff2') format('woff2'),
        url('Zignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

